<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://lionchen.coding.net/api/share/download/c5efc6c0-18e1-4c9d-9909-7e22b8669b6d</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
					<key>bundle-identifier</key>
					<string>私人wori.club软件</string>
					<key>bundle-version</key>
					<string>1.0.0</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>WiFi万能钥匙</string>
				<key>title</key>
				<string>WiFi万能钥匙1.0.0</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>