<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://lionchen.coding.net/api/share/download/7e7d2477-2cea-4bf2-9cc8-b1fa21fdce5a</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
					<key>bundle-identifier</key>
					<string>wori.club</string>
					<key>bundle-version</key>
					<string>6.6.1</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>微信</string>
				<key>title</key>
				<string>微信6.6.1</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>